@model IEnumerable<DecurtamentoPuntiSuperiore10Punti>
@{
    ViewData["Title"] = "Decurtamento Punti Superiore a 10 Punti";
}
<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Data Violazione</th>
            <th>Importo</th>
            <th>Punti Decurtati</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.idanagrafica</td>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.DataViolazione.ToString("dd/MM/yyyy")</td>
                <td>@item.Importo</td>
                <td>@item.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>